body{
    background: url(../img/background.png) repeat center ;

}

header {
    text-align: center;
}

h1, h2, h3{
    color: gold;
    text-align: center;
    text-shadow: 2px 2px 2px #97701c;
    font-family: sans;
}


.pylon{
    min-height: 200px;
    cursor: hand;
}

p {
    margin-left: 40px;
    color: goldenrod;
}

ul {
    color: goldenrod;
    list-style: none;
}

strong {
    font-size: 1.2em;
}

.text {

    background-color:rgba(255,255,255,0.1);
    border-radius: 5px;
    padding: 3px 10px 3px 10px;
}

hr {
    box-shadow: 0 0px 5px rgba(218, 165, 32, 1);
    -moz-box-shadow: 0 0px 5px rgba(218, 165, 32, 1);
    -webkit-box-shadow: 0 0px 5px rgba(218, 165, 32, 1);
    border-top: 1px solid goldenrod;
}

.out-of-stock {
    color: red;
    margin-right: 10px;
    font-size: 1.2em;
}

.in-stock {
    color: #00d400;
    margin-right: 10px;
    font-size: 1.2em;
}

.leopold2 {
    float: right;
}

.leopold2 img{
    margin-left: 45px;
    width: 50px;
}

.leopold2 span {
    display:block;
    padding: 7px;
    color: gold;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    background-color:  #97701c;
    border-radius: 3px;
    border: 2px solid #a79a63;
}

